.footer {
  background-color: #555;
  padding: 3rem 0;
  margin-top: 4rem;
  color: #eee;

  &__heading {
    margin-bottom: 1rem;
  }

  &__contacts {
    line-height: 1.6;
  }

  &__copy {
    margin-top: 1rem;
  }

  &__icons {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    position: relative;

    &::before {
      content: ' ';
      width: 100%;
      border: 1px solid #bbb;
      position: absolute;
      top: -2rem;
      z-index: 2;
    }
  }
}
