.facility-card {
  background-color: #eee;
  // -webkit-box-shadow: 10px 10px 44px -11px rgba(0, 0, 0, 0.36);
  // -moz-box-shadow: 10px 10px 44px -11px rgba(0, 0, 0, 0.36);
  // box-shadow: 10px 10px 44px -11px rgba(0, 0, 0, 0.36);
  border-radius: 15px;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  &__info {
    padding: 2rem 1.2rem;

    h1 {
      margin-bottom: 0.4rem;
    }

    h3 {
      margin-bottom: 0.8rem;
    }
  }
}
