.container {
  width: 80%;
  margin: auto;
}

.page-header {
  margin: 2rem 0 1rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.smallGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.paragraph-spacing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
